<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="BikeStoresEntities" connectionString="metadata=res://*/BikeStoresData.BikeStoresModel.csdl|res://*/BikeStoresData.BikeStoresModel.ssdl|res://*/BikeStoresData.BikeStoresModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=BikeStores;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BikeStoresWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BikeStoresWebServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44359/BikeStoresWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BikeStoresWebServiceSoap"
        contract="BikeStoresWebService.BikeStoresWebServiceSoap" name="BikeStoresWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>