body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#header-title {
    text-align: center;
    color: white; 
    font-weight: bold;
}
.page-header {
    background-color: #1C2331;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;
}
body{
    background-color: black;
}
.body-content {
    background-color: #3F729B;
    border-radius: 10px;
}
.navbar {
    background-color: #1C2331;
    border: none;
}
.navbar-nav a{ 
    color: white;
}
#navbar a{
    color: white;
}
.navbar-brand a{
    color: black; 
}
#add-product-button {
    color: white;
    background-color: #1C2331;
}
#add-product-button:hover {
    border-color: white;
    background-color: #3a4863;
}
#edit-product-btn {
    color: white;
    background-color: #1C2331;
}
#edit-product-btn:hover {
    border-color: white;
    background-color:#3a4863; 
}
#delete-product-btn {
    color: white;
    background-color: #1C2331;
}
#delete-product-btn:hover {
    border-color: white;
    background-color: #3a4863;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.table{
    color: white;
    font-family: 'Malgun Gothic';
}
.table tr:hover {
    color: black;
    font-weight: bolder;
    background-color: rgba(245, 245, 245, 0.9);
}
.table th{
    font-weight: bolder;
    font-size: 18px;
}
